In [1]:
import numpy as np
import pandas as pd
x = np.array([1,2,3,4,5])

In [2]:
x

array([1, 2, 3, 4, 5])

In [9]:
#series --> pd.Series(data,index)
#dataframe --> pd.Dataframe(data,columns,index)

In [5]:
#Series Data Object:

In [15]:
data1 = pd.Series([0.25,0.5,0.75,1])
data1

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [12]:
data2 = pd.Series([0.25,0.5,0.75,1],["a","b","c","d"])
data2

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [13]:
# Menggunakan Area Dictionary
area_dict = {"Kota A":10000, "Kota B":3000000,"Kota C":688888,"Kota D":9000}
area = pd.Series(area_dict)
area

Kota A      10000
Kota B    3000000
Kota C     688888
Kota D       9000
dtype: int64

In [14]:
# Menggunakan Data Frame

In [24]:
data3 = pd.DataFrame(np.random.random((3,2)),columns=["Index Harga","Index Saham"],index=['a','b','c'])
data3

   Index Harga  Index Saham
a     0.533765     0.532485
b     0.237643     0.067815
c     0.733153     0.204884